@use './globals' as *;
@use './components.scss';
@use './Pages/home';
@use './Pages/login';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 10rem;
  height: 10rem;
  border: 4px solid $color-box-bg;
  border-top: 4px solid rgba($color-primary, 0.9);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loader-layout {
  height: 100dvh;
  background: linear-gradient(
    to right bottom,
    rgba($color-primary, 0.9),
    rgba($color-box-bg, 0.5)
  );

  background-size: cover;
  background-position: center;
}

/* Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes apear {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
