@use '../globals' as *;

.login {
  width: calc(100% - 10rem);
  height: calc(100% - 10rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: rgba($color-white, $alpha: 1);
  box-shadow: 0 3rem 7rem rgba($color-dark, $alpha: 0.5);

  display: flex;
  justify-content: center;

  .form-container {
    margin-block: auto;
    flex: 1;
    padding: 1rem;
    .span-link {
      color: rgb(65, 114, 130);
      font-weight: 700;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: lighten(rgb(65, 114, 130), 10);
        border-bottom: 1px solid #333;
      }
    }
    p {
      text-align: center;
      margin-top: 1rem;
    }
  }

  .form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    font-size: 1.5rem;

    &-group {
      input {
        width: 100%;

        border: none;
        padding: 0.4rem 0.5rem;
        background-color: transparent;
        border-bottom: 1px solid $color-grey;
      }
    }
  }

  .login-image {
    flex: 1;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

$color-primary: #2d2926;
$color-button-bg: #2d2926;
$color-button-text: #ffffff;
$color-box-bg: #f2e9e4;

$color-grey: #777;
$color-dark: #000;
$color-white: #fff;
