@use '../globals' as *;

.login {
  width: calc(100% - 10rem);
  height: calc(100% - 10rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: rgba($color-white, $alpha: 1);
  box-shadow: 0 3rem 7rem rgba($color-dark, $alpha: 0.5);
  animation: slideUp 0.8s;

  display: flex;
  justify-content: center;

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .form-container {
    margin-block: auto;
    flex: 1;
    padding: 1rem;
    .span-link {
      color: rgb(65, 114, 130);
      font-weight: 700;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: lighten(rgb(65, 114, 130), 10);
        border-bottom: 1px solid #333;
      }
    }
    p {
      text-align: center;
      margin-top: 1rem;
    }
  }

  .form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    font-size: 1.5rem;

    &-group {
      input {
        width: 100%;

        border: none;
        padding: 0.4rem 0.5rem;
        background-color: transparent;
        border-bottom: 1px solid $color-grey;
      }
    }
  }

  .login-image {
    flex: 1;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.8s forwards;
  animation-fill-mode: backwards;
}

.fade-out {
  animation: fadeOut 0.8s forwards;
  animation-fill-mode: backwards;
}
