@use '../globals' as *;

$color-primary: #2d2926;
$color-button-bg: #2d2926;
$color-button-text: #ffffff;
$color-box-bg: #f2e9e4;

$color-grey: #777;
$color-dark: #000;
$color-white: #fff;

.main-page {
  height: 100dvh;
  background: linear-gradient(rgba(#e0e4e4, 0.4), rgba($color-box-bg, 0.9)),
    url('ai6.jpg');
  background-size: cover;
  object-fit: cover;
  background-position: center;

  .container {
    height: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .profile-flex {
      flex: 1;
      display: flex;
      justify-content: space-between;
      background-color: rgba($color-box-bg, $alpha: 0.8);
      border-radius: 8px;
      padding: 1rem 0;

      h3 {
        font-size: 2rem;
      }
    }

    .guide-flex {
      border: 3px solid red;

      flex: 2;
      display: flex;
      gap: 1rem;
      padding-block: 2rem;
      color: $color-button-text;

      .guide-item {
        background-color: rgba($color: #578da4, $alpha: 0.2);
        padding: 1rem 2rem;
        height: 10rem;
        width: 33%;
        text-align: center;
        align-content: center;
        box-shadow: 0 2rem 5rem rgba($color-dark, $alpha: 0.3);
        transition: all 0.5s;

        &:hover {
          transform: translateY(-0.5rem);
        }
        p {
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
    }
  }
}
